streamlit==1.37.0
matplotlib
numpy
pandas
yfinance
plotly
scipy
scikit-learn
pandas_datareader
Quandl
requests
Pillow
PyPortfolioOpt==1.5.5
Backtesting
googletrans==4.0.0-rc1
openpyxl
fredapi
pandas_ta
bokeh==2.4.3
webdriver-manager
tensorflow
jax
hyperopt
